header{
    .navbar-brand i{
        font-size: 35px;
        color: #60746c;
    }
    
    .nav-item a{
        font-size: 16px;
        padding: 0 1.5rem;
        color: #303030;
    }
    
    .nav-item a:hover{
        color: #60746c;
    }
}